@import "tailwindcss";
@import "@fontsource/instrument-serif";
@import "@fontsource-variable/noto-sans";
@import "@fontsource-variable/jetbrains-mono";
@plugin '@tailwindcss/typography';

@theme {
    --font-serif: "Instrument Serif", "serif";
    --font-sans: "Noto Sans Variable", "sans-serif";
    --font-mono: "JetBrains Mono Variable", "monospace";
}
